* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Titillium Web',sans-serif;
}

.game-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.game-container main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.game-container main .left {
  width: 60%;
  background-color: #313131;
}

.game-container main .left .logo {
  position: absolute;
  width: 100px;
  height: auto;
  top: 20px;
  left: 20px;
}

.game-container main .left .logo img {
  width: 30px;
}

.game-container main .left .choices-container {
  position: relative;
  top: 30%;
  width: 90%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.game-container main .left .choices-container img {
  width: 200px;
  cursor: pointer;
}

.game-container main .left .choices-container img:hover {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

.game-container main .left button {
  position: relative;
  width: 250px;
  height: 80px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #878787;
  color: #313131;
  font-size: 30px;
  font-weight: 600;
  top: 40%;
  left: 34.1%;
  letter-spacing: 5px;
}

.game-container main .left button:hover {
  background-color: #9E9E9E;
}

.game-container main .left .show-choices {
  width: 90%;
  position: relative;
  top: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-container main .left .show-choices .showImg {
  width: 200px;
}

.game-container main .left .show-choices .versus {
  font-size: 80px;
  color: white;
}

.game-container main .right {
  width: 40%;
  background: -webkit-linear-gradient(-70deg, #ffde55 10%, #ef5480 50%, #74dae2 90%);
  background-size: 400% 400%;
  -webkit-animation: gradient 6s ease infinite;
          animation: gradient 6s ease infinite;
  background-repeat: no-repeat;
  background-position: contain;
}

.game-container .statistics-container {
  width: 40%;
  height: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(10%, -50%);
          transform: translate(10%, -50%);
  background-color: white;
  border: 1px solid #707070;
}

.game-container .statistics-container .result-container {
  position: relative;
  top: 60px;
  margin: 0 auto;
  width: 80%;
  height: 200px;
  text-align: center;
  font-size: 80px;
  line-height: 200px;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
}

.game-container .statistics-container .statistics-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  height: auto;
  margin: 0 auto;
  top: 120px;
}

.game-container .statistics-container .statistics-box .stats {
  font-size: 20px;
  font-weight: 600;
}

.game-container .statistics-container .statistics-box .stats span {
  display: block;
  text-align: center;
}

.game-container .statistics-container .statistics-box img {
  width: 30px;
  height: 30px;
  margin-top: 16px;
}

.game-container .statistics-container .accuracy-box {
  width: 80%;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: 200px;
  border-bottom: 1px solid #DBDBDB;
}

.game-container .statistics-container .accuracy-box .accuracy {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 60px;
}

.game-container .statistics-container .accuracy-box .accuracy span {
  display: block;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-5-17 15:59:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*# sourceMappingURL=style.css.map */